{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block header %}

{% include 'includes/sidebar.html' %}

{% endblock header %}

{% block content %}
<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h4 class="font-weight-bolder">{{ object|yesno:"Update,Create" }} dish type</h4>
            </div>
            <div class="card-body">
              <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
              {% endblock %}
