{% extends "base.html" %}
{% load static %}

{% block header %}
{% include 'includes/sidebar.html' %}
{% endblock header %}

{% block content %}
<!-- -------- START HEADER 8 w/ card over right bg image ------- -->
<header>
  <div class="page-header min-vh-85">
    <div>
      <img
          class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0"
          src="{% static 'img/curved-images/curved8.jpg' %}" alt="image">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex justify-content-center flex-column">
          <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
            <div class="text-center">
              <h3>Delete dish?</h3>
              <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Yes" class="btn btn-light link-to-page me-3">
                <a href="{% url 'dishops:cook-list' %}" class="btn btn-primary link-to-page">No</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}
