{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block header %}

{% include 'includes/sidebar.html' %}

{% endblock header %}

{% block content %}
<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-8 d-flex flex-column mx-lg-0 mx-auto">
          <div class="card card-plain">
            <div class="card-header pb-0 text-left">
              <h4 class="font-weight-bolder">{{ object|yesno:"Update,Create" }} dish</h4>
              <div class="card-body">
                <form action="" method="post" novalidate>
                  {% csrf_token %}
                  {{ form|crispy }}

                  <input type="submit" value="Submit" class="btn btn-primary w-100 mt-3">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
          <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
            <img src="{% static 'img/shapes/pattern-lines.svg' %}" alt="pattern-lines"
                 class="position-absolute opacity-4 start-0">
            <div class="position-relative">
              <img class="w-50 max-width-300 position-relative z-index-2"
                   src="{% static 'img/illustrations/chat.png' %}">
            </div>
            <h4 class="mt-5 text-white font-weight-bolder">"Your journey begins here"</h4>
            <p class="text-white">Sign up to become part of our culinary community and start creating your own delicious dishes. Whether you're a seasoned chef or just starting, our platform provides the tools to help you showcase your culinary skills. Join us and let your creativity shine in the kitchen!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block footer %}

{% include 'includes/footer_signin.html' %}

{% endblock footer %}
