{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Dish list</title>
{% endblock %}

{% block body %}{% endblock body %}

{% block header %}
{% include 'includes/sidebar_light.html' %}
{% endblock header %}

{% block content %}
<!-- -------- START HEADER 8 w/ card over right bg image ------- -->
<header>
  <div class="page-header min-vh-85">
    <div>
      <img
          class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0"
          src="{% static 'img/curved-images/curved8.jpg' %}" alt="image">
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-7 d-flex justify-content-center flex-column">
          <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
            <div class="text-center">
              <h3>Dish list</h3>
              <p class="mb-0">
                Discover the variety of dishes available in our kitchen management system.
              </p>
            </div>
            <div class="mt-4">
              {% if dish_list %}
              <ul class="list-unstyled text-start">
                {% for dish in dish_list %}
                <li>
                  <a href="{% url 'dishops:dish-detail' pk=dish.id %}">{{ dish.name }}</a>
                  ({{ dish.dish_type.name }})
                </li>
                {% endfor %}
              </ul>
              {% else %}
              <p>There are no dishes in the kitchen management</p>
              {% endif %}

              <div class="d-flex justify-content-center">
                <a href="{% url 'dishops:dish_create' %}" class="btn bg-gradient-primary mb-3 mb-0">Create</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}
